<!DOCTYPE html>
<html>
<head>
	
	<title>CLASlite Forest Monitoring - Carnegie Institution for Science</title>
	
	<style type="text/css">
		form { display: none; }
		h1 { font-size: 1em; }
	</style>
	
</head>
<body>
	
	<form id="go" method="post" action="{{ current_url }}">
		<input type="submit">
	</form>
	
	<script type="text/javascript">
		document.getElementById('go').submit();
	</script>
	
	<noscript>
		<h1>Please enable JavaScript and then reload this page to use CLASlite.</h1>
	</noscript>
	
</body>
</html>
